#catalogHeader{
    background-image: url('../Images/catalogBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}




#catalogClothes_Text{
    font-family: BellTM;
    margin: 0;
    font-size: 3rem;
    background-color: white;
    padding: 6rem 3rem 2rem 3rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}


#catalogClothes_Displayer{
    display: flex;
    background-color: rgb(244, 244, 244);
    padding: 3rem 0 10rem 0;
    height: 150vh;
}

#catalogClothes_Displayer h3{
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

#catalogClothes_Displayer--filters{
    padding: 0 3rem;
    width: 10vw;
    font-size: 2rem;
    border-right: 2px solid;
}

#catalogClothes_Displayer--filters form{
    display: flex;
    flex-direction: column;
}

#catalogClothes_Displayer--filters form:first-child h3{
    padding-top: 0;
}

#catalogClothes_Displayer--filters input[type="checkbox"]{
    -webkit-appearance: none;
    border: solid;
    width: 1.3rem;
    border-radius: 100%;
    height: 1.3rem;
}

#catalogClothes_Displayer--filters input[type="checkbox"]:checked{
    background-color: black;
}

#catalogClothes_Displayer--filtersApplyButton{
    margin-top: 3rem;
    width: 100%;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 0;
    background-color: rgb(157, 213, 164);
    color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}




#catalogClothes_Displayer--samples{
    display: grid;
    width: 100%;
    padding: max(1.5rem, 2vw);
    padding-top: 0;
    gap: max(1rem, 1.5vw);
    grid-template-columns: repeat(3, minmax(calc(calc(100% - 3rem) / 3), 1fr));
}

#catalogClothes_Displayer--samples div{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#catalogClothes_Displayer--samples div img{
    width: 100%;
    height: 30rem;
}

#catalogClothes_Displayer--samples div h7{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
}

#catalogClothes_Displayer--samples div h8{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}