body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

#indexHeader{
    background-image: url('../Images/indexSideDecorator.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

#indexHeader::before{
    content: "";
    display: flex;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    position: relative;
    background-image: url(../Images/indexBackground.jpg);
    background-size: contain;
    background-position-x: 35vw;
}

#indexHeader_Nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 15vh;
    position: fixed;
    top: 0;
    z-index: 5;
    box-sizing: border-box;
    padding: 1rem 3rem;
}

#indexHeader_Nav div{
    display: flex;
    flex-direction: row;
    height: calc(17vh - 4rem);
    align-items: center;
}

#indexHeader_Nav--Logo p{
    margin: 0;
    height: fit-content;
    font-family: Broadway;
    font-size: 2.5rem;
}

#indexHeader_Nav--Logo img{
    height: inherit;
    margin-right: 0.5rem;
}



#indexHeader_Nav--list{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    font-weight: bolder;
    margin: 0 auto;
    padding: 0;
}

#indexHeader_Nav--list a{
    align-items: center;
    display: flex;
    height: 1.4rem;
    padding: 0.2rem 0.7rem;
    border-radius: 20px;
    background-color: white;
    width: fit-content;
    margin: 0 1rem;
    text-decoration: none;
    color: black;
}
#indexHeader_Nav--list a:hover{
    background-color: rgb(157, 213, 164) !important;
    color: white;
}

#indexHeader_Nav--list a:last-child{
    width: 1.4rem;
    background-image: url(../Images/cartIcon.png);
    background-size: 1.9rem;
    background-repeat: no-repeat;
    background-position-x: center;
}
#indexHeader_Nav--list a:last-child:hover{
    background-image: url(../Images/cartIconHover.png);
}

#indexHeader_Nav--Contact{
    font-family: BellTM !important;
    font-size: 1.4rem;
    font-weight: bolder;
    align-items: center;
    display: flex !important;
    height: 1.4rem !important;
    padding: 0.2rem 0.7rem;
    border-radius: 20px;
    background-color: white;
    text-decoration: none;
    color: black;
}
#indexHeader_Nav--Contact:hover{
    background-color: rgb(157, 213, 164) !important;
    color: white;
}


#indexHeader_Lema{
    position: absolute;
    z-index: 7;
    top: calc(50vh - 3rem);
    left: 3vw;
    font-size: 3rem;
    width: 350px;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    border-top: solid;
    border-bottom: solid;
    padding: 1rem 0 1.5rem 2rem;
}



#indexLastestTrends_Text{
    font-family: BellTM;
    margin: 0;
    font-size: 3rem;
    background-color: white;
    padding: 6rem 3rem 2rem 3rem;
}


#indexLastestTrends_Displayer{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, minmax(calc(calc(99vw / 3) - 1rem), 1fr));
    background-color: white;
    padding-bottom: 5rem;
}

#indexLastestTrends_Displayer *{
    width: calc(calc(100vw / 3) - 1rem);
}




#indexZenthDescription{
    background-color: rgb(244, 244, 244);
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 5rem;
}

#indexZenthDescription p{
    margin: 0;
    font-size: 3rem;
    border-top: solid;
    border-bottom: solid;
    padding: 2rem 0;
}




footer{
    display: flex;
    align-items: center;
    height: 20vh;
    box-sizing: border-box;
    padding: 2rem 4rem;
    background-color: rgb(30, 30, 30);
}

footer *{
    width: 4rem;
}

footer *:nth-child(2){
    width: 5rem;
}

footer *:nth-child(2), footer *:nth-child(3){
    margin-left: 0.5rem;
}